<!DOCTYPE html>
<html>
<head>
  <title>My Account</title>
  <link rel="icon" href="moon.ico">
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <div class="black-bar">
    <button class="my-account-button">Log Out</button>
    <button class="log-out-button">My Account</button>
  </div>
  <div class="container">
    <div class="logo">
      <img src="moon.ico">
      <span class="logo-text">Curriculum Vitae</span>
    </div>
    <div class="white-box">
      <h1>My CVs</h1>
      <div class="line"></div>
      <ul class="cv-list">
        <li class="cv-list-item">
          <a class="cv-link" href="path/to/cv1.pdf" target="_blank">CV 1</a>
        </li>
        <li class="cv-list-item">
          <a class="cv-link" href="path/to/cv2.pdf" target="_blank">CV 2</a>
        </li>
        <li class="cv-list-item">
          <a class="cv-link" href="path/to/cv3.pdf" target="_blank">CV 3</a>
        </li>
        <!-- more cvs go here -->
      </ul>
    </div>
  </div>
</body>
</html>
