.container {
  display: flex;
  justify-content: right;
  align-items: center;
  height: 100%;
  width: auto;
  background-position: left;
  background-color: #f1f1f1;
}

.logo {
  position: absolute;
  top: 10px;
  left: 10px;
}

.logo img {
  width: 65px;
  height: auto;
}

.gradient-box {
  position: absolute;
  left: 0;
  top: 0;
  width: 55%;
  height: 100%;
  background: linear-gradient(to top right, #61D9DE, #8072E5, #FD7BF0);
}

.overlay-box {
  position: absolute;
  left: 27%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 45%;
  height: 50%;
  background-color: rgba(255, 255, 255, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 57px;
}

.overlay-text {
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bolder;
  color: #000;
}

.overlay-text h2 {
  font-size: 64px;
  margin-bottom: 15px;
}

.overlay-text p {
  font-size: 24px;
  font-family: 'Josefin Sans', sans-serif;
}

.register-box {
  background-color: #fff;
  width: 40%;
  height: 100%;
  padding: 40px;
  border-radius: 5px;
}

.register-box h1 {
  text-align: Left;
  font-size: 24px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: Bold;
  margin-bottom: 140px;
  color: #080808;
}

.textbox {
  position: relative;
  margin-bottom: 150px;
  margin-top: -125px;
}

.textbox label {
  display: block;
  margin-bottom: 5px;
  font-size: 32px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: Bold;
  color: #000;
}

.textbox input {
  width: 95%;
  padding: 15px 15px;
  font-size: 32px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  border: 3px solid #8072E5;
  border-radius: 20px;
  outline: none;
}

.name-fields {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.name-fields .textbox {
  width: 48%;
  box-sizing: border-box;
  padding-right: 10px;
}

.name-fields .textbox input {
  clear: both;
}

.btn {
  display: block;
  width: 100%;
  padding: 10px 0;
  margin-top: -115px;
  background-color: #8072E5;
  color: #fff;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: Bold;
  font-size: 32px;
  text-align: center;
  border: none;
  border-radius: 0px;
  cursor: pointer;
}

.btn:hover {
  background-color: #8b7eec;
}

.login-link {
  text-align: center;
  margin-top: 18px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: Bolder;
}

.login-link a {
  color: #8072E5;
  text-decoration: none;
}

.login-link a:hover {
  text-decoration: underline;
}
