<!DOCTYPE html>
<html>
<head>
  <title>Landing Page</title>
  <link rel="icon" href="moon.ico">
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <div class="gradient"></div>
  <div class="black-bar">
    <div class="logo">
        <img src="moon.ico">
        <span class="logo-text">Curriculum Vitae</span>
      </div>
    <div class="buttons">
      <button class="register">Register</button>
      <button class="button">Log In</button>
    </div>
  </div>
  
  <div class="header">
    Stand out from the crowd with our CV editor!
  </div>
  <div class="line"></div>
  <div class="sub-header">
    <span>Craft your perfect CV effortlessly with our top-rated editor,</span>
    <span>empowering you to stand out and land your dream job. </span>
  </div>
  <div class="button-center">
    <button class="get-started-button">Get Started</button>
  </div>
  
</body>
</html>
